<div class="nav-wrapper">
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			{{#each menu}}
			<li><a href="/paint/{{this.path}}">{{this.name}}</a></li>
			{{/each}}

		</ul>
	</div>
	<!--/.nav-collapse -->
</div>