{{>header title="Главная страница"}}

<body>
	<div class="animsition">
		<div class="full-box">
			<main>
				<div class="navbar navbar-default default" role="navigation">
					<div class="navbar-header">
						<div class="navbar-brand">
							<a href="index.html"><img src="#" srcset="/style/images/logo.png 1x, /style/images/logo@2x.png 2x" alt="" /></a>
						</div>
						<div class="nav-bars-wrapper">
							<div class="nav-bars-inner">
								<div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
							</div>
							<!-- /.nav-bars-inner -->
						</div>
						<!-- /.nav-bars-wrapper -->
						<div class="header-other">
							<div class="btn-group pull-right text-right"> <a href="#" class="share-button btn btn-light dropdown-toggle" data-toggle="dropdown"><span></span>Share</a>
								<div class="dropdown-menu">
									<div class="goodshare-wrapper"> <a href="#" class="goodshare" data-type="fb">Share</a> <a href="#" class="goodshare" data-type="tw">Tweet</a>
										<a
											href="#" class="goodshare" data-type="pt">Pin</a> <a href="#" class="goodshare" data-type="tm">Post</a> </div>
									<!-- /.goodshare-wrapper -->
								</div>
								<!-- /.dropdown-menu -->
							</div>
							<!-- /.btn-group -->
						</div>
						<!-- /.header-other -->
					</div>
					<!-- /.navbar-header -->
					{{> nav menu=menu}}
					<!--/.nav-wrapper -->
				</div>
				<!-- /.navbar -->

				<div class="rev_slider_wrapper">
					<div id="slider1" class="rev_slider" data-version="5.0">
						<ul>
							<li data-transition="parallaxtoright" data-fstransition="fade"> <img src="/style/images/art/slider-bg1.jpg" alt=""> </li>
							<li data-transition="parallaxtobottom"> <img src="/style/images/art/slider-bg2.jpg" alt=""> </li>
							<li data-transition="parallaxtoleft"> <img src="/style/images/art/slider-bg3.jpg" alt=""> </li>
						</ul>
						<div class="tp-static-layers">
							<div class="tp-caption tp-static-layer display text-center" data-x="center" data-y="center" data-voffset="-30" data-fontsize="['50','50','50','40']"
								data-lineheight="['50','50','50','40']" data-start="500" data-splitin="none" data-splitout="none" data-responsive="on"
								data-responsive_offset="on" data-startslide="0" data-endslide="3" style="z-index: 5;">Hello, I'm John Malory</div>
							<div class="tp-caption tp-static-layer sans text-center" data-x="center" data-y="center" data-voffset="30" data-fontsize="['18','18','18','18']"
								data-lineheight="['18','18','18','18']" data-start="500" data-splitin="none" data-splitout="none" data-responsive="on"
								data-responsive_offset="on" data-startslide="0" data-endslide="3" style="z-index: 6;">Freelance Photographer</div>
						</div>
						<div class="tp-bannertimer tp-bottom"></div>
					</div>
				</div>
				<!-- /.rev_slider -->

				<div class="container inner">
					<p class="lead text-center bm0">I'm John Malory, a freelance photographer specializing in landscape, advertorial and conceptual photography, based in
						New York. Here you will be able to find my latest and favorite shots.</p>
				</div>
				<!-- /.container -->

				<div class="portfolio-grid">
					<ul class="isotope items">
            
            
            {{#each gallery}}
            {{>item name=this.name url=this.path}}
						<!--<li class="item">
							<figure class="overlay">
								<a href="index2.html">
									<div class="text-overlay caption">
										<div class="info">
											<h2 class="post-title">{{this.name}}</h2>
											<div class="meta"> <span class="count">{{this.price}}</span> <span class="date">{{this.id}}</span> </div>
										</div>
									</div>
									<img src="/style/images/art/{{this.img}}.jpg"  alt="" /> </a>
							</figure>
						</li>-->
            {{/each}}
					
					</ul>
					<!-- /.isotope -->
				</div>
				<!-- /.portfolio-grid -->

				<div class="container inner">
					<h5 class="sans text-center">Let's Work Together</h5>
					<div class="thin2 text-center">
						<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Nullam id dolor id nibh
							ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.</p>
						<a href="contact.html" class="btn"><i class="icon-paper-plane rp7"></i>Contact Me</a> </div>
					<!-- /.thin2 -->
				</div>
				<!-- /.container -->

			</main>
			<!-- /main -->

			<footer class="inverse-wrapper">
				<div class="container inner">
					<div class="row">
						<div class="col-sm-3">
							<div class="widget">
								<h4 class="widget-title">Popular Posts</h4>
								<ul class="post-list">
									<li>
										<figure class="overlay">
											<a href="blog-post.html"><img src="/style/images/art/a1.jpg" alt="" /> </a>
										</figure>
										<div class="post-content">
											<p> <a href="blog-post.html">Magna mollis ultricies</a> </p>
											<div class="meta"><span class="date">3th Oct 2012</span> </div>
										</div>
									</li>
									<li>
										<figure class="overlay">
											<a href="blog-post.html"><img src="/style/images/art/a2.jpg" alt="" /> </a>
										</figure>
										<div class="post-content">
											<p> <a href="blog-post.html">Ornare nullam risus</a> </p>
											<div class="meta"><span class="date">28th Sep 2012</span> </div>
										</div>
									</li>
									<li>
										<figure class="overlay">
											<a href="blog-post.html"><img src="/style/images/art/a3.jpg" alt="" /> </a>
										</figure>
										<div class="post-content">
											<p> <a href="blog-post.html">Euismod nullam</a> </p>
											<div class="meta"><span class="date">15th Aug 2012</span> </div>
										</div>
									</li>
								</ul>
								<!-- /.post-list -->
							</div>
							<!-- /.widget -->
						</div>
						<!-- /column -->

						<div class="col-sm-3">
							<div class="widget">
								<h4 class="widget-title">Recent Tags</h4>
								<ul class="tag-list">
									<li> <a href="#" class="btn">Blog</a> </li>
									<li> <a href="#" class="btn">Photography</a> </li>
									<li> <a href="#" class="btn">Illustation</a> </li>
									<li> <a href="#" class="btn">Fun</a> </li>
								</ul>
							</div>
							<!-- /.widget -->
							<div class="widget">
								<h4 class="widget-title">Top Categories</h4>
								<ul class="circled">
									<li> <a href="#">Lifestyle (21)</a> </li>
									<li> <a href="#">Photography (19)</a> </li>
									<li> <a href="#">Journal (16)</a> </li>
									<li> <a href="#">Works (7)</a> </li>
								</ul>
							</div>
							<!-- /.widget -->
						</div>
						<!-- /column -->

						<div class="col-sm-3">
							<div class="widget">
								<h4 class="widget-title">Get in Touch</h4>
								<address>
									<strong>Malory, Inc.</strong><br> Moon Street Light Avenue, 14/05 <br> Jupiter, JP 80630<br>
									<abbr title="Phone">P:</abbr> (123) 456-7890 <br>
									<abbr title="Email">E:</abbr> <a href="mailto:#">first.last@example.com</a>
								</address>
							</div>
							<!-- /.widget -->
							<div class="widget">
								<h4 class="widget-title">Elsewhere</h4>
								<ul class="social">
									<li> <a href="#"><i class="icon-s-rss"></i></a> </li>
									<li> <a href="#"><i class="icon-s-twitter"></i></a> </li>
									<li> <a href="#"><i class="icon-s-facebook"></i></a> </li>
									<li> <a href="#"><i class="icon-s-pinterest"></i></a> </li>
									<li> <a href="#"><i class="icon-s-linkedin"></i></a> </li>
									<li> <a href="#"><i class="icon-s-forrst"></i></a> </li>
								</ul>
							</div>
							<!-- /.widget -->

						</div>
						<!-- /column -->

						<div class="col-sm-3">
							<div class="widget">
								<h4 class="widget-title">About Me</h4>
								<figure> <img src="/style/images/art/about.jpg" alt="" /> </figure>
								<div class="divide10"></div>
								<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula lacinia. Morbi risus, porta ac leo justo vestibulum.</p>
							</div>
							<!-- /.widget -->
						</div>
						<!-- /column -->

					</div>
					<!-- /.row -->

				</div>
				<!-- .container -->

				<div class="sub-footer">
					<div class="container inner">
						<p class="text-center">© 2015 Malory. All rights reserved. Theme by <a href="http://elemisfreebies.com">elemis</a> .</p>
					</div>
					<!-- .container -->
				</div>
				<!-- .sub-footer -->

			</footer>
			<!-- /footer -->
		</div>
		<!-- /.full-box -->
	</div>
	<!-- /.animsition -->
	
  {{> footer}}

</body>

</html>